#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

if ARCH_BOARD_EFM32GG_PNBFANO

comment "EFM32 PNBFANO Hardware Configuration"

config PNBFANO_GPIO_KEYPAD
	bool "EFM32 GPIO keypad Driver"
    select ARCH_BUTTONS
    select EFM32_GPIO_IRQ
    select LIB_KBDCODEC
    select BOARD_INITIALIZE
	depends on ARCH_CHIP_EFM32
	default y
	---help---
		Enables support for keypad on gpio.

config PNBFANO_USE_MMCSD
	bool "Enable MMCSD support Driver"
    select BOARD_INITIALIZE
    select MMCSD
    select MMCSD_SPI
	depends on ARCH_CHIP_EFM32
	default y
	---help---
		Enables support for SD card on gpio.


endif
