#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

if ARCH_BOARD_EFM32GG_PNBFANO

choice
    prompt  PNBFANO_BOARD
	default PNBFANO_BOARD_V1

config PNBFANO_BOARD_V1
	bool "PnbFano board V1"

endchoice

menu "EFM32 PNBFANO Hardware Configuration"

config PNBFANO_GPIO_KEYPAD
	bool "PNBFANO GPIO keypad Driver"
    select ARCH_BUTTONS
    select EFM32_GPIO_IRQ
    select LIB_KBDCODEC
    select BOARD_INITIALIZE
	depends on ARCH_CHIP_EFM32
	default n if PNBFANO_BOARD_V1
	---help---
		Enables support for keypad on gpio.

config PNBFANO_GPIO_PPS
	bool "PNBFANO GPIO PPS Driver"
    select ARCH_BUTTONS
    select EFM32_GPIO_IRQ
    select BOARD_INITIALIZE
	depends on ARCH_CHIP_EFM32
	default n if PNBFANO_BOARD_V1
	---help---
		Enables support for PPS on gpio.

config PNBFANO_GPIO_CHRONO
	bool "PNBFANO GPIO CHRONO Driver"
    select ARCH_BUTTONS
    select EFM32_GPIO_IRQ
    select BOARD_INITIALIZE
	depends on ARCH_CHIP_EFM32
	default n if PNBFANO_BOARD_V1
	---help---
		Enables support for chrono on gpio.

config PNBFANO_LCD_KEYPAD
	bool "EFM32 keypad using LCD bus Driver"
    select ARCH_BUTTONS
    select LIB_KBDCODEC
    select BOARD_INITIALIZE
	depends on ARCH_CHIP_EFM32
	default y if PNBFANO_BOARD_V1
	---help---
		Enables support for keypad on LCD bus.

config PNBFANO_USE_MMCSD
	bool "Enable MMCSD support Driver"
    select BOARD_INITIALIZE
    select MMCSD
    select MMCSD_SPI
	depends on ARCH_CHIP_EFM32
	default y if PNBFANO_BOARD_V1
	---help---
		Enables support for SD card on gpio.

config PNBFANO_USE_CC3000
	bool "Enable CC3000 support Driver"
    select BOARD_INITIALIZE
	depends on ARCH_CHIP_EFM32
	default y if PNBFANO_BOARD_V1
	---help---
		Enables support for CC3000 extension.

config PNBFANO_BOARD_VPLANE
	int "Video Plane"
	int 
	default 0 if PNBFANO_BOARD_V1
	---help---
		The plane to select from the framebuffer driver for use in the test.
		Default: 0

config PNBFANO_BOARD_DEVNO
	int "Video Device Number"
	int 
	default 0 if PNBFANO_BOARD_V1
	---help---
		The LCD device to select from the LCD driver for use in the test:
		Default: 0

config PNBFANO_BOARD_BPP
	int "Bits-Per-Pixel"
	int 
	default 1 if PNBFANO_BOARD_V1
	---help---
		Pixels per pixel to use.  Valid options include 1, 2, 4, 8, 16, 24,
		and 32.  Default is 32.

config PNBFANO_AUTO_USBDEV_MSC
	bool "Enable Automatic usbmsc."
	depends on USBDEV
	default y if PNBFANO_BOARD_V1
	---help---
		Enables automatic enable/disable usbmsc on usb connection/disconnection
		of usb cable.


endmenu

endif

