#
# arch/arm/src/efm32/Kconfig
#

if ARCH_CHIP_EFM32

comment "EFM32 Configuration Options"

choice
	prompt "EFM32 Chip Selection"
	default ARCH_CHIP_EFM32TG840F32

config ARCH_CHIP_EFM32TG840F32
	bool "EFM32TG840F32"
	select ARCH_CORTEXM3
	---help---
		This chip is a Tiny Gecko with 32 KB flash
		and 4 KB RAM in a QFN64 package

config ARCH_CHIP_EFM32GG332F1024
	bool "EFM32GG332F1024"
	select ARCH_CORTEXM3
	---help---
		This chip is a Giant Gecko with 1024 KB flash
		and 128 KB RAM in a QFP64 package
		Planned but not done yet ! 

endchoice


config GPIO_IRQ_DISPATCHER
	bool "GPIO interrupts dispatch"
	---help---
		Enable dispatcher for interrupting GPIO pins

config EFM32_GPIO_KEYPAD
	bool "Key pad on GPIO mapped to keyboard"
	---help---
		Enable keypad with GPIO pins

config EFM32_SPI_NBR
	int "SPI driver number max"
	default 1
	---help---
		You need to Enable also DRIVERS->SPI.

endif

