#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

config LIS331DL
	bool "ST LIS331DL device support"
	default n
	select I2C

config MPL115A
	bool "Freescale MPL115A Barometer Sensor support"
	default n
	select SPI
	---help---
		Enable driver support for the Freescale MPL115A barometer sensor.

config SENSORS_ADXL345
	bool "AnalogDevices ADXL345 Driver"
	default n
	---help---
		Enables support for the ADXL345 driver

if SENSORS_ADXL345

choice
	prompt "ADXL345 Interface"
	default ADXL345_SPI

config ADXL345_SPI
	bool "ADXL345 SPI Interface"
	select SPI
	---help---
		Enables support for the SPI interface.

config ADXL345_I2C
	bool "ADXL345 I2C Interface"
	select I2C
	---help---
		Enables support for the I2C interface

endchoice

config ADXL345_ACTIVELOW
	bool "Active Low Interrupt"
	default n
	---help---
		The ADXL345 interrupt will be inverted. Instead starting low and going
		high, it will start high and will go low when an interrupt is fired.
		Default:  Active high/rising edge.

config ADXL345_REGDEBUG
	bool "Enable Register-Level ADXL345 Debug"
	default n
	depends on DEBUG
	---help---
		Enable very low register-level debug output.

endif # SENSORS_ADXL345

config I2C_LM75
	bool
	default y if LM75

config LM75
	bool "STMicro LM-75 Temperature Sensor support"
	default n
	select I2C
	select I2C_LM75
	---help---
		Enable driver support for the STMicro LM-75 temperature sensor.
		This should also work with compatible temperature sensors such as
		the TI TMP100/101.

config QENCODER
	bool "Qencoder"
	default n

config SENSORS_INVENSENSE
	bool "Invensense MPU9250 Driver (9Axes sensors)"
	default n
	---help---
		Enables support for the Invensense motion sensors driver.
		accelerometer,gyroscope and Magnetometer axes.
		This is a device that in integrate:accelerometer.
		MPU6050                                            
		MPU6500 
		MPU9150 (or MPU6050 w/ AK8975 on the auxiliary bus)
		MPU9250 (or MPU6500 w/ AK8963 on the auxiliary bus)

if SENSORS_INVENSENSE

choice
	prompt "Invensense IC"
	default SENSOR_MPU9250

config SENSOR_MPU6050
	bool "Invensense MPU6050 Driver (6Axes sensors)"
	select INVENSENSE_I2C
	default n
	---help---
		Enables support for the MPU9250 driver.

config SENSOR_MPU6500
	bool "Invensense MPU6500 Driver (6Axes sensors)"
	select INVENSENSE_I2C
	default n
	---help---
		Enables support for the MPU6500 driver.

config SENSOR_MPU9150
	bool "Invensense MPU9150 Driver (9Axes sensors)"
	select INVENSENSE_I2C
	default n
	---help---
		Enables support for the MPU9150 driver.
		like a MPU6050 with AK8975 on the auxiliary bus.

config SENSOR_MPU9250
	bool "Invensense MPU9250 Driver (9Axes sensors)"
	default n
	---help---
		Enables support for the MPU9250 driver.
		like a MPU6500 with AK8963 on the auxiliary bus.

endchoice

choice
	prompt "MPU9250 Interface"
	default MPU9250_I2C

config INVENSENSE_SPI
	bool "Invensense SPI Interface"
	select SPI
	---help---
		Enables support for the SPI interface.

config INVENSENSE_I2C
	bool "Invensense I2C Interface"
	select I2C
	---help---
		Enables support for the I2C interface

endchoice

config INVENSENSE_DMP
	bool "Enable Invensense motion Driver (DMP)."
	default n
	---help---
		Enables support of motion coprocessor driver.

config INVENSENSE_DEBUG
	bool "Enable Invensense debug."
	default n
	---help---
		Enables debug of Invensense driver.

endif # SENSORS
